<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            body {
                background-image: url(/img/bigsight.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-color: #464646;
                text-align: center;
            }
            .half-transparent {
                background-color: rgba(255, 255, 255, 0.8);
            }
            .vertical-center {
                min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
                min-height: 100vh; /* These two lines are counted as one :-)       */

                display: flex;
                align-items: center;
            }
        </style>
        <title>top</title>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
        <% if (err) { %>
            <h1>Error!</h1>
            <%- err %>
        <% } else { %>
            <div class="vertical-center">
                <div class="container-fluid half-transparent jumbotron shadow-lg">
                    <h1 class="center">コミケ参加者を一挙検索するやつ</h1>
                    <p class="lead center">あなたのフォローからコミケ参加者を一挙に検索します</p>
                    <hr class="my-4">
                    <h1 class="center">Comiket participants listing tool</h1>
                    <p class="lead center">Find the Comiket participants from your following lists</p>
                    <hr class="my-4">
                    <p class="lead center font-weight-light">This program doesn't use any of your information other than the use of finding Comiket participants.</p>
                    <br>
                    <form action="./" method="POST">
                        <button type="submit" class="btn btn-outline-primary btn-lg" value="Authorize">Sign in with Twitter</button>
                    </form>
                </div>
            </div>
        <% } %>
    </body>
</html>