@charset "utf-8";

body.home {
    background-image: url(/img/bigsight.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    text-align: center;
}
.half-transparent {
    background-color: rgba(255, 255, 255, 0.8);
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}